$bg-color: hsl(22, 40%, 26%);
$bg-color-dark: hsl(21, 47%, 15%);
$bg-color-light: hsl(120, 90%, 33%);

$unaccent: hsl(84, 50%, 90%);

.pigskin {
  background-color: hsl(22, 40%, 26%);
  color: white;
}

.nfl {
  background-color: aliceblue;
  color: blue;
}

.turf {
  background-color: green;
  color: white;
}

.h1pigskin {
  background-color: hsl(21, 47%, 15%);
  color: white;
}

.h1nfl {
  background-color: blue;
  color: aliceblue;
}

.h1turf {
  background-color: darkgreen;
  color: gold;
}

.h2pigskin {
  color: orange;
}

.h2nfl {
  color: red;
}

.h2turf {
  color: gold;
}

.btnpigskin {
  background-color: hsl(21, 47%, 15%);
  color: white;
}

.btnnfl {
  background-color: blue;
  color: aliceblue;
}

.btnturf {
  background-color: darkgreen;
  color: gold;
}
