


.standings {
  display: grid;
  column-gap: 1ch;
  align-items: center;
  grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // font-stretch: ultra-condensed;
  // font-stretch: ultra-condensed|extra-condensed|condensed|semi-condensed|normal|semi-expanded|expanded|extra-expanded|ultra-expanded|initial|inherit;
}

.container {
  max-width: 475px;
  margin: 0 auto;
}
.wk-subhead-flex {
  display: flex;
  gap: .7em;
}

#btn-container1 {
  display: none;
}

#btn-container2 {
  display: none;
}

#btn-container3 {
  display: none;
}

#btn-container4 {
  display: none;
}

#btn-container5 {
  display: none;
}

.btn-cont-margin {
  margin-top: -.2em;
}
button {
  background-color: $bg-color-dark;
  border: 0;
  padding: .1em .5em;
  font-size: .7rem;
  border-radius: 4px;
  color: white;
}
.ltr-spc-small {
  letter-spacing: .2px;
}